.root {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 16px;
  background: #1f2125;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.blurred {
  filter: blur(5px);
}

.content__wrapper {
  min-width: 680px;
  max-width: 680px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .content__wrapper {
    min-width: 468px;
    max-width: 468px;
  }
}

@media only screen and (max-width: 480px) {
  .content__wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.date__header__wrapper {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

}

.header__dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__side {
  max-width: 72px;
  min-width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log__out__button {
  border: 1px solid #3a3c3d;
  border-radius: 4px;
  background-color: #27292d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
}

.header__small__date {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #848484;
  cursor: pointer;
}

.header__todays__date {
  font-weight: 500;
  cursor: pointer;
}

.block__items__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block__item__wrapper {
  background: #27292d;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.disabled__block {
  pointer-events: none;
  opacity: .4;
}


.block__time {
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}

.block__name {
  font-weight: 600;
}

.block__subtitle {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #848484;
}

.task__item__wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #393b3d;
  align-items: center;
  justify-content: space-between;
}

.task__last {
  border: none;
}

.task__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task__right {
  display: flex;
  align-items: center;
}

.task__completion__wrapper {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__name {
  font-size: 14px;
  color: #e2e2e2;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.task__name__completed {
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
  color: #848484;
  display: flex;
  align-items: center;
}

.optional__tag {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 8px;
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  background: #393b3d;
  color: #848484;
}

.sign__in__wrapper {
  height: calc(100vh - 84px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.log__in__button {
  background: #7a72ff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  transition: .2s ease;
}

.log__in__button:hover {
  background: #7f78ff;
}

.button__text {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.button__icon {
  height: 14px;
  width: 14px;
}