.root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 16px;
  background: #1f2125;
  box-sizing: border-box;
}

.date__header__wrapper {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header__dates {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__small__date {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #848484;
  cursor: pointer;
}

.header__todays__date {
  font-weight: 500;
  cursor: pointer;
}

.block__items__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block__item__wrapper {
  background: #27292d;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.disabled__block {
  pointer-events: none;
  opacity: .4;
}


.block__time {
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}

.block__name {
  font-weight: 600;
}

.block__subtitle {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #848484;
}

.task__item__wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #393b3d;
  align-items: center;
  justify-content: space-between;
}

.task__last {
  border: none;
}

.task__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task__right {
  display: flex;
  align-items: center;
}

.task__completion__wrapper {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__name {
  font-size: 14px;
  color: #e2e2e2;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.task__name__completed {
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
  color: #848484;
  display: flex;
  align-items: center;
}

.optional__tag {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 8px;
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  background: #393b3d;
  color: #848484;
}