.root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: #1f2125;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.blurred {
  transition: filter .1s ease;
  filter: blur(2px);
  pointer-events: none;
}

.content__wrapper {
  padding: 16px;
  min-width: 680px;
  max-width: 680px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .content__wrapper + .footer__wrapper {
    min-width: 468px;
    max-width: 468px;
  }
}

@media only screen and (max-width: 480px) {
  .content__wrapper + .footer__wrapper {
    min-width: 100%;
    max-width: 100%;
  }
}

.footer__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  background: #27292d;
  height: 64px;
  width: 680px;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.footer__item {
  height: 48px;
  box-sizing: border-box;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease all;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  color: #B0B3BE;
  min-width: 132px;
  max-width: 132px;
}

.footer__item.footer__item__selected {
  background: #4b44d822;
  border: 1px solid #4c44d8;
}

.footer__item.footer__item__selected:hover {
  background: #4b44d822;
  border: 1px solid #4c44d8;
}

.footer__item:hover {
  background: #3a3b3f;
}

.footer__item__name {
  text-decoration: none;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.footer__item__main {
  width: 72px;
  height: 72px;
  position: relative;
}

.footer__button {
  background: #4c44d8;
  width: 72px;
  height: 72px;
  bottom: 16px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  margin: 0 auto;
  box-sizing: border-box;
  border: 6px solid #1f2125;
}

.footer__button:hover {
  animation: hoverup .2s ease forwards;
}

@keyframes hoverup {
  0% {
    bottom: 16px;
  }
  100% {
    bottom: 20px;
  }
}

.date__header__wrapper {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.month__name {
  margin-bottom: 8px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
}

.header__dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__side {
  max-width: 72px;
  min-width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log__out__button {
  border: 1px solid #3a3c3d;
  border-radius: 4px;
  background-color: #27292d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
}

.header__small__date {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #848484;
  cursor: pointer;
}

.header__todays__date {
  font-weight: 500;
  cursor: pointer;
}

.block__items__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 164px);
  overflow: scroll;
}

.block__items__wrapper::-webkit-scrollbar {
  display: none;
}

.block__item__wrapper {
  background: #27292d;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.disabled__block {
  pointer-events: none;
  opacity: .4;
}

.block__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block__action {
  height: 28px;
  width: 28px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all .2s ease;
  border: 1px solid #27292d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.block__action__main {
  height: 28px;
  width: 28px;
  margin-left: 4px;
  margin-right: 4px;
  transition: all .2s ease;
  border: 1px solid #4c44d8;
  background: #2e2c4a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}


.block__time {
  font-size: 12px;
  color: #848484;
  font-weight: 500;
}

.block__name {
  font-weight: 600;
}

.block__subtitle {
  margin-top: 12px;
  text-transform: uppercase;
  font-size: 12px;
  color: #848484;
}

.task__item__wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #393b3d;
  align-items: center;
  justify-content: space-between;
}

.task__last {
  border: none;
}

.task__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task__right {
  display: flex;
  align-items: center;
}

.task__completion__wrapper {
  margin-right: 4px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__name {
  font-size: 14px;
  color: #e2e2e2;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.task__name__completed {
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
  color: #848484;
  display: flex;
  align-items: center;
}

.optional__tag {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 8px;
  padding: 2px 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  background: #393b3d;
  color: #848484;
}

.sign__in__wrapper {
  height: calc(100vh - 84px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.log__in__button {
  background: #7a72ff;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  transition: .2s ease;
}

.log__in__button:hover {
  background: #7f78ff;
}

.button__text {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.button__icon {
  height: 14px;
  width: 14px;
}